<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis albums
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis albums</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let album of albums">
    <img [src]="album.foto">
    <ion-card-header>
      <ion-card-title>{{album.titulo}}</ion-card-title>
      <ion-card-subtitle>{{album.anioPublicacion}}</ion-card-subtitle>
      {{album.nombreArtista}}
      <div>
        <ion-button icon-only routerLink="/api/v1/artistas">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
